{% extends 'common_base.html' %}

{% block panel_name %}Admin Panel{% endblock %}

{% block navbar_icon %}fas fa-user-shield{% endblock %}
{% block navbar_title %}Admin Panel{% endblock %}
{% block navbar_home_url %}{% url 'admin_panel:dashboard' %}{% endblock %}

{% block sidebar_menu %}
<li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'admin_panel:dashboard' %}">
        <i class="fas fa-tachometer-alt"></i> Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {% if 'staff' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'admin_panel:staff_list' %}">
        <i class="fas fa-users"></i> Xodimlar
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {% if 'dormitor' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'admin_panel:dormitories_list' %}">
        <i class="fas fa-building"></i> Yotoqxonalar
    </a>
</li>
{% endblock %}